html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    color: #292618;
}

a {
    text-decoration: none;
    color: #292618;
}

.index {
    position: relative;
    width: 100%;
    height: 100%;
    .top {
        position: relative;
        height: 64%;
        background: #f9cf0b;
        overflow: hidden;
        .logo{
            position: absolute;
            top:7.5%;
            width: 76.6%;
            left:50%;
            transform: translateX(-50%)
        }
        .machine{
            position: absolute;
            top:24.5%;
            width: 40%;
            left:50%;
            transform: translateX(-50%)
        }
        .line {
            position: absolute;
            bottom: 0;
            width: 100%;            
        }
    }
    .btn {
        top: 73%;
        position: absolute;
        // bottom: 5%;
        padding: 0 54px;
        width: 100%;
        box-sizing: border-box;
    }
    a {
        display: block;
        text-align: center; // margin:0 54px;
        height: 47.5px;
        line-height: 47.5px;
        color: #3c3c3a;
        font-size: 17px;
        border-radius: 4px;
        &:active {
            background: #f9cf0b;
        }
        &:first-child {
            background: #fbfa00;
            &:active {
                background: #f9cf0b;
            }
        }
        &+a {
            margin-top: 7px;
            box-shadow: 0 0 7px rgba(86, 86, 54, .08);
        }
    }
}

.vip {
    padding: 0 18px;
    .title {
        font-size: 18px;
        color: #292618;
        margin-top: 19px;
        margin-bottom: 25px;
    }
    .vip-content {
        .title {
            color: #292618;
            font-size: 18px;
        }
        &>div {
            color: #fff;
            height: 80px;
            margin-bottom: 11px;
            background: url(../images/vip1.jpg) no-repeat;
            background-size: 100%;
            display: flex;
            justify-content: space-around;
            &:last-child {
                background-image: url(../images/vip2.jpg);
            }
            .money {
                font-size: 27px;
                width: 68px;
                margin-top: 32px;
                span {
                    font-size: 20px;
                }
            }
            .detail {
                font-size: 15px;
                p:last-child {
                    font-size: 11px;
                }
            }
            a {
                display: block;
                height: 24px;
                line-height: 24px;
                color: #fff;
                margin-top: 28px;
                width: 63px;
                text-align: center;
                border-radius: 12px;
                font-size: 12px;
                &.btn {
                    background: #fff;
                    color: #cf73fb;
                }
            }
            &:first-child {
                a.btn {
                    color: #00e4e3;
                }
            }
        }
    }
    .title2 {
        margin-top: 20px;
        border-top: 1px solid #f5f5f5;
        padding-top: 22px;
        padding-bottom: 20px;
        color: #43423f;
        font-size: 15px;
    }
    .detail2 {
        font-size: 11px;
        line-height: 22px;
    }
}

.hover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    top: 0;
}

.notice {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border-radius: 4px;
    width: 80%;
    font-size: 15px;
    line-height: 20px;
    color: #3c3c3a;
    img {
        height: 70px;
    }
    .notice-title {
        margin-top: 15px;
    }
    padding: 23px 0;
    background: #fff;
}

.vip-notice {
    text-align: center;
    img {
        width: 85px;
        margin-top: 140px;
    }
    p {
        margin-top: 50px;
        font-size: 15px;
        color: #43423f;
    }
}

.user-center {
    padding: 0px;
    .me {
        box-shadow: 0 0 4px rgba(34, 34, 25, .1);
        margin: 0 13px;
        margin-top: 17px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        .name {
            margin-top: 23px;
            font-size: 18px;
            img {
                width: 58px;
            }
        }
        .discount {
            font-size: 10px;
            color: #403f37;
            margin-top: 11px;
            margin-bottom: 25px;
        }
    }
    .avatar {
        margin-top: 20px;
        img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
        }
    }
    .my-list {
        margin-top: 21px;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        height: 50px;
        line-height: 50px;
        img {
            width: 16px;
            margin-left: 16px;
            margin-right: 8px;
        }
        a {
            display: block;
            background: url(../images/arrow.png) no-repeat;
            background-size: 8px 14px;
            background-position: right center;
            margin-right: 17px;
        }
    }
}

.order-list {
    background: rgb(248, 248, 248);
    min-height: 100%;
    .title {
        height: 39px;
        line-height: 39px;
        background: #fff;
        padding: 0 15px;
        font-size: 15px;
    }
    ul {
        padding: 0;
    }
    li {
        background: #fff;
        list-style: none;
        padding-left: 20px;
        padding-right: 25px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e9e9e9;
        .time {
            font-size: 10px;
            margin-bottom: 8px;
            margin-top: 10px;
        }
        .detail {
            font-size: 13px;
            line-height: 23px;
            margin-bottom: 10px;
        }
        .status {
            margin-top: 47px;
            font-size: 15px;
        }
    }
    .tips {
        text-align: center;
        font-size: 10px;
        padding-bottom: 47px;
    }
}

.pay {
    text-align: center;
    font-size: 10px;
    .money {
        font-size: 18px;
        margin-top: 39px;
        margin-bottom: 8px;
    }
    .tips {
        height: 10px;
        margin-bottom: 26px;
    }
    .degree {
        color: #627cdf;
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 0 auto;
        span {
            display: block;
            flex:1;
            &:nth-child(2) {
                // width: 120px;
                border-left: 1px solid #627cdf;
                border-right: 1px solid #627cdf;
            }
        }
        padding-bottom: 15px;
        border-bottom: 1px solid #e9e9e9;
    }
    .svip {
        height: 110px;
        &.has {
            border-bottom: 1px solid #e9e9e9;
        }
        a {
            display: block;
            margin: 29px 90px 14px;
            height: 37px;
            line-height: 37px;
            background: #fef240;
            font-size: 14px;
            box-shadow: 2.5px 2.5px 2.5px rgba(25, 4, 11, .07);
        }
    }
    .payment {
        margin-top: 65px;
        a {
            margin: 0 20px;
            display: block;
            height: 43px;
            line-height: 43px;
            background: #fef240;
            font-size: 18px;
            border: 1px solid #cec42b;
            border-radius: 4px;
        }
        a.wechat {
            background: #00c715;
            color: #fff;
            border-color: #009d0b;
        }
    }
}