html {
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  color: #292618; }

a {
  text-decoration: none;
  color: #292618; }

.index {
  position: relative;
  width: 100%;
  height: 100%; }
  .index .top {
    position: relative;
    height: 64%;
    overflow: hidden; }
    .index .top h1 {
      text-align: center;
      font-weight: normal;
      font-size: 42px; }
    .index .top .machine {
      position: absolute;
      top: 24.5%;
      width: 288px;
      left: 50%;
      transform: translateX(-50%); }
    .index .top .title {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
      .index .top .title img {
        width: 89px; }
  .index .btn {
    top: 73%;
    position: absolute;
    padding: 0 54px;
    width: 100%;
    box-sizing: border-box; }
  .index a {
    display: block;
    text-align: center;
    height: 47.5px;
    line-height: 47.5px;
    color: #3c3c3a;
    font-size: 17px;
    border-radius: 4px; }
    .index a:first-child {
      color: #fff;
      background: linear-gradient(to right, #ef8333, #eb5833);
      box-shadow: 0 0 17px #ef8333; }
    .index a + a {
      margin-top: 14px;
      box-shadow: 0 0 7px rgba(86, 86, 54, 0.08);
      border: 1px solid #c3c3c3; }
